[submodule "src/main/docker/third_party/feapder"]
	path = src/main/docker/third_party/feapder
	url = https://github.com/jxxghp/feapder
[submodule "src/main/xunlei"]
	path = src/main/xunlei
	url = https://github.com/sgpublic/xunlei-nastools.git
